$teamCardInternalPadding: 32px;

.team-card {
  background-color: $cardLightColor;
  border: 1px solid $lightColorShade;

  width: calc(95% - $teamCardInternalPadding * 2);
  height: calc(80px - $teamCardInternalPadding * 2);
  min-height: max-content;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 32px auto 0;
  padding: $teamCardInternalPadding;

  border-radius: 8px;

  transition: all .05s;

  z-index: 4;

  &:hover {
    cursor: pointer;
    filter: contrast(0.95);
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    color: $cardDarkColor;
    font-weight: bold;
    font-size: 28px;

    width: 80%;

    text-wrap: wrap;
    word-break: break-all;
  }

  .person-counter {
    display: flex;
    align-items: center;

    color: $cardLightGray;
    margin-right: 32px;

    font-size: 24px;
    font-weight: bold;
  }

}

.team-card-opened-content {

  @keyframes slideDown {
    0% {
      filter: opacity(0);
      transform: translateY(-25%) scaleY(.69);
    }
  
    50% {
      filter: opacity(.4);
    }
  
    85% {
      filter: opacity(1);
    }
  
    100% {
      transform: translateY(0) scaleY(1);
    }
  }

  z-index: 2;
  animation: slideDown .2s ease-out;
 
  .no-persons-yet {
    font-size: 21px;

    width: calc(95% - 16px * 2);
    padding: 16px;

    margin: 8px auto 0;

    background-color: $cardLightColor;
    border: 1px solid $lightColorShade;
    border-radius: 8px;

    display: flex;
    justify-content: center;

    color: $cardDarkColor;
  }
}