@use '@/assets/styles/cardAnimations.scss' as *;

$teamCardInternalPadding: 32px;

.team-card {
  background-color: $cardLightColor;
  border: 1px solid $lightColorShade;

  width: calc(95% - $teamCardInternalPadding * 2);
  height: calc(80px - $teamCardInternalPadding * 2);
  min-height: max-content;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 32px auto 0;
  padding: $teamCardInternalPadding;

  border-radius: 8px;

  transition: all .05s;

  z-index: 4;

  &:hover {
    cursor: pointer;
    filter: contrast(0.95);
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    color: $cardDarkColor;
    font-weight: bold;
    font-size: 28px;

    width: 80%;

    text-wrap: wrap;
    word-break: break-all;
  }

  .person-counter {
    display: flex;
    align-items: center;

    color: $cardLightGray;
    margin-right: 32px;

    font-size: 24px;
    font-weight: bold;
  }

  animation: cardLoad .2s ease-out;
}

.team-card-opened-content {

  z-index: 2;
  animation: cardOpen .2s ease-out;

  .no-persons-yet {
    font-size: 21px;

    width: calc(95% - 16px * 2);
    padding: 16px;

    margin: 8px auto 0;

    background-color: $cardLightColor;
    border: 1px solid $lightColorShade;
    border-radius: 8px;

    display: flex;
    justify-content: center;

    color: $cardDarkColor;
  }
}