.content-wrapper {

  > h1 {
    color: $cardDarkColor;
    border-bottom: 1px solid rgba($darkColor, .3);
    padding-bottom: 8px;
    margin-bottom: 32px;
    text-align: center;
  }

  .edit-color {
    color: $warningColor;
  }

  .warning-color {
    color: $warningColor;
  }

  .danger-color {
    color: $errorColor;
  }

  form {

    display: flex;

    flex-direction: column;

    gap: 21px 0;

    &>* {
      width: 100%;

      &>* {
        width: 100%;
      }
    }

    .button-row {
      position: static;
      bottom: 32px;

    }

    .field-error {
      display: block;
      width: 100%;
      padding: 0;
      margin: 8px 0 0 0;
      color: $warningColor
    }
  }

}