$panelFooterHorizontalPadding: 32px;
$panelFooterVerticalPadding: 8px;

.panel-footer {
  position: static;
  bottom: 0;
  left: 0;
  
  padding: 0;
  margin: 0;
  
  width: calc(100% - $panelFooterHorizontalPadding * 2);

  min-height: max-content;
  height: calc(40px - $panelFooterVerticalPadding * 2);

  box-shadow: 0 0 16px rgba($darkColor, .08);

  display: flex;
  align-items: center;
  justify-content: right;
  padding: $panelFooterVerticalPadding $panelFooterHorizontalPadding;
}