.top-section {
  display: flex;
  align-items: center;

  background-color: $themeColor;

  margin: 0;
  padding: 0;

  width: 100%;

  min-height: 60px;
  max-height: 80px;
  height: 8.5vh;

  border-bottom: 1px solid $themeColorDark;

  h1 {
    color: $lightColor;

    width: 100%;
    text-align: center;
  }

  .italic {
    font-style: italic;
  }
}

.bottom-section {
  background-color: $themeColor;

  margin: 0;
  padding: 0;

  width: 100%;

  min-height: 60px;
  max-height: 80px;
  height: 8.5vh;

  display: flex;
  align-items: center;
  justify-content: center;
}