$themeColor: #DE0C15;
$themeColorDark: #B40000;

$warningColor: #DE0C15;

$themeColorTetradic2: #7EDE0C;
$themeColorTetradic3: #52c4be;
$themeColorTetradic4: #6C0CDE;

$themeColorAnalogous: #F3862A;

$lightColor: #FFFFFF;
$lightColorShade: #F1F1F3;
$darkColor: #1B1C17;

$cardLightColor: #F8F8F8;
$cardLightGray: #D0D0D0;
$cardDarkColor: #464645;