:export {
  themeColor: $themeColor;
  themeColorDark: $themeColorDark;

  successColor: $successColor;
  warningColor: $warningColor;
  errorColor: $errorColor;
  infoColor: $infoColor;

  themeColorTetradic2: $themeColorTetradic2;
  themeColorTetradic3: $themeColorTetradic3;
  themeColorTetradic4: $themeColorTetradic4;

  themeColorAnalogous: $themeColorAnalogous;

  lightColor: $lightColor;
  lightColorShade: $lightColorShade;
  darkColor: $darkColor;

  cardLightColor: $cardLightColor;
  cardLightGray: $cardLightGray;
  cardDarkColor: $cardDarkColor;
}