:export {
  themeColor: $themeColor;
  themeColorDark: $themeColorDark;

  warningColor: $warningColor;

  themeColorTetradic2: $themeColorTetradic2;
  themeColorTetradic4: $themeColorTetradic4;

  themeColorAnalogous: $themeColorAnalogous;

  lightColor: $lightColor;
  lightColorShade: $lightColorShade;
  darkColor: $darkColor;

  cardLightColor: $cardLightColor;
  cardLightGray: $cardLightGray;
  cardDarkColor: $cardDarkColor;
}